@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

:root {
  --background-color: #101427;
  --color: #e2e2e2;
  --button-color: #616a948c;
  --button-background: #2d3771;
  /* --button-background: rgb(22, 26, 49); */

  /* Typewriter Animation parameters */
  --animation-bg-color: #101427;
  --typewriterSpeed: 6s;
  --typewriterCharacters: 20;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--color);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.error-loading {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color);
  font-size: 1.2em;
  font-style: italic;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: var(--button-color);
}
